/* 🔴 2xl  🔴*/
@media (max-width: 1536px) {

    .container {
      max-width: 1280px;
      
    }

    .local-marketer-text {
        font-size: 1.5rem; /* Adjusted size for smaller screens */
        line-height: 2rem; 
    }

    .local-biz-container p {
        font-size: 3rem; /* Adjusted size for smaller screens */
        line-height: 3.5rem;
    }

    .local-biz-container p span {
        font-size: 3rem; /* Adjusted size for smaller screens */
        line-height: 3.5rem;
    }

    .win-new-container p {
        font-size: 1.25rem; /* Adjusted size for smaller screens */
        line-height: 1.5rem;
    }

    .win-new-container p span {
        font-size: 1.25rem; /* Adjusted size for smaller screens */
        line-height: 1.5rem;
    }

    .desktop-image-container{
        margin-left: 20rem;
        margin-right: 20rem;
    }

/* hide all screenshot container in low width, unhide seperate screenshots */
    .all-screenshots-container{
      width: 30rem;
      display: none;
   }

   .screenshot-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
   }

   .left-screenshot-container{
     display: flex;
     flex-direction: column;
     gap: 3rem;

   }
   
   .right-screenshot-container{
    display:block;
   }
   

  }
  
  /*🔴  xl 🔴 */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }


    .desktop-image-container img{
        /* margin-left: 20rem;
        margin-right: 20rem; */
        width: 31.25rem;
    }


  }
  
  /* 🔴 lg🔴  */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }

    .local-marketer-text {
        font-size: 1.0rem; /* Adjusted size for smaller screens */
        line-height: 1.5rem; 
    }

    .local-biz-container p {
        font-size: 2.5rem; /* Adjusted size for smaller screens */
        line-height: 3.0rem;
    }

    .local-biz-container p span {
        font-size: 2.5rem; /* Adjusted size for smaller screens */
        line-height: 3.0rem;
    }

    .win-new-container p {
        font-size: 1.0rem; /* Adjusted size for smaller screens */
        line-height: 0.5rem;
    }

    .win-new-container p span {
        font-size: 1.0rem; /* Adjusted size for smaller screens */
        line-height: 0.5rem;
    }

    .desktop-image-container img{
        /* margin-left: 20rem;
        margin-right: 20rem; */
        width: 31.25rem;
    }

    

  }
  
  /*🔴  md 🔴 */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
    }

    .local-marketer-text {
        font-size: 1.0rem; /* Adjusted size for smaller screens */
        line-height: 1.5rem; 
    }

    .local-biz-container p {
        font-size: 1.5rem; /* Adjusted size for smaller screens */
        line-height: 2.0rem;
    }

    .local-biz-container p span {
        font-size: 1.5rem; /* Adjusted size for smaller screens */
        line-height: 2.0rem;
    }

    .win-new-container p {
        font-size: 0.7rem; /* Adjusted size for smaller screens 1.0 0.5 */
        line-height: 0.5rem;
    }

    .win-new-container p span {
        font-size: 0.7rem; /* Adjusted size for smaller screens */
        line-height: 0.5rem;
    }

    .desktop-image-container img{
        /* margin-left: 20rem;
        margin-right: 20rem; */
        width: 25rem;
    }
   

    /* hide all screenshot container in low width, unhide seperate screenshots */
    .all-screenshots-container{
      width: 30rem;
      display: none;
   }

    .app-screenshot img{
      width: 25rem ;
    }

    .larry-screenshot img{
      width: 25rem;
    }

    .right-screenshot-container img{
      width: 25rem;
    }
   

  }
  
  /*🔴  sm 🔴 */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }

    
  }
  
  /*🔴  xs 🔴 <375*/
  @media (max-width: 475px) {
    .container {
      width: 100%;
    }

    .local-marketer-text {
      font-size: 0.7rem; /* Adjusted size for smaller screens */
      line-height: 0.8rem; 
      
  }

  .local-biz-container p {
      font-size: 1.3rem; /* Adjusted size for smaller screens */
      line-height: 2.0rem;
  }

  .local-biz-container p span {
      font-size: 1.3rem; /* Adjusted size for smaller screens */
      line-height: 2.0rem;
  }

  .win-new-container p {
      font-size: 0.5rem; /* Adjusted size for smaller screens 1.0 0.5 */
      line-height: 0.3rem;
  }

  .win-new-container p span {
      font-size: 0.5rem; /* Adjusted size for smaller screens */
      line-height: 0.3rem;
  }

  .desktop-image-container img{
      /* margin-left: 20rem;
      margin-right: 20rem; */
      width: 20rem;
  }
 

  .app-screenshot img{
    width: 20rem ;
  }

  .larry-screenshot img{
    width: 20rem;
  }

  .right-screenshot-container img{
    width: 20rem;
  }

  }