/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-size: 16px;
}

/* desktop utility class */
.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }


.background-container {
    background-image: url('./assets/RectangleBlue.png');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: top; /* Center elements vertically */
    align-items: center; /* Center elements horizontally */
    position: relative;
}

.logo-container {
    margin-top: 3rem;
    margin-bottom: 2rem; /* Add spacing between logo and yellow background */
}

.logo-container img {
    width: 15.44rem; /* 247.05px */
    height: 1.74rem; /* 27.86px */
}

.yellow-background-container {
    background-color: #FFDB5E;
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    text-align: center; /* Center the text inside the yellow background */
    margin-bottom: 2rem; /* Add spacing */

}

.local-marketer-text {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 2.06rem; /* 33px */
    font-weight: 700;
    line-height: 2.55rem; /* 40.85px */
    color: #33256C;
    
}
/* ------- */
.local-biz-container {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 2rem; /* Add spacing */

}

.local-biz-container p {
    font-family: 'Gilroy-Heavy', sans-serif;
    font-size: 4.56rem; /* 73px */
    font-weight: 700;
    line-height: 5.125rem; /* 82px */
    color: #FFFFFF;
}

.local-biz-container p span {
    font-family: 'Gilroy-HeavyItalic', sans-serif;
    font-size: 4.56rem; /* 73px */
    font-style: italic;
    font-weight: 700;
    line-height: 5.125rem; /* 82px */
    color: #FF5811;
    text-decoration: underline;
    text-decoration-color: #FF5811;
}

/* ------ */

.win-new-container {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 2rem; /* Add spacing */

}

.win-new-container p {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 1.5625rem; /* 25px */
    line-height: 1.83125rem; /* 29.3px */
    color: #FFFFFF;
}

.win-new-container p span {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 1.5625rem; /* 25px */
    line-height: 1.83125rem; /* 29.3px */
    color: #FFEE58;
    text-decoration: underline;
    text-decoration-color: #FFEE58;
}

.desktop-image-container{
  
}

/* ------ */






